<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>150822815264-91667mcta2rnktdqav6ev9nl33ihfp1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150822815264-91667mcta2rnktdqav6ev9nl33ihfp1s</string>
	<key>API_KEY</key>
	<string>AIzaSyCpkaQKYQTplzYerCw-n1gW0vdJm2sCQ5c</string>
	<key>GCM_SENDER_ID</key>
	<string>150822815264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CraftCode.RSA-Encryption</string>
	<key>PROJECT_ID</key>
	<string>rsa-encryption-fe1aa</string>
	<key>STORAGE_BUCKET</key>
	<string>rsa-encryption-fe1aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150822815264:ios:30726de8ea338fab</string>
	<key>DATABASE_URL</key>
	<string>https://rsa-encryption-fe1aa.firebaseio.com</string>
</dict>
</plist>